
VibratoPlugin/Builds/MacOSX/build/Debug/VibratoPlugin.component/Contents/MacOS/VibratoPlugin

*.xcuserstate

VibratoPlugin/Builds/MacOSX/build/Debug/VibratoPlugin.component/Contents/MacOS/VibratoPlugin
